.example-container {
  width: 100%;
  height: 300px;
  
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  text-align:left;
}

.example-sidenav {
  padding-top: 25px;
}
.example-selected-value {
  margin: 15px 0;
}

